/* ==========================================================================
   Variables
   ========================================================================== */

/* Colors */

$white: rgb(255, 255, 255);
$light-gray: rgb(204, 204, 204);
$orange: rgb(214, 133, 26);
$brown: rgb(63, 46, 26);
$light: rgb(138, 84, 48);
$red: rgb(115, 35, 1);
$dark: rgb(36, 13, 0);

/* Breakpoints */

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 600px;

// Small tablets (portrait view)
$screen-md-min: 782px;

// Tablets and small desktops
$screen-lg-min: 1000px;

// Large tablets and desktops
$screen-xl-min: 1200px;

/* ==========================================================================
   Header
   ========================================================================== */

.site-header,
.site-footer {
  background-color: $orange;
  color: $brown;
}

.site-header a,
.site-footer a {
  color: $brown !important;
}

.top-navigation-right {
  position: absolute;
  bottom: 0;
}

.site-header .sub-menu:before {
  border-bottom-color: transparent;
}
.main-navigation .sub-menu,
.main-navigation .children {
  background-color: $orange;
}

.drawer,
.drawer .menu-item-has-children .toggle-sub {
  background: none;
}

@media (max-width: $screen-lg-min) {
  .drawer-menu-explore {
    background: none;
  }
}

/* ==========================================================================
   Home
   ========================================================================== */

body.home .wooslider .slide-content {
  margin: 0;
}

.home .wooslider {
  border: 0 none;
}

.home .slide-content > p {
  margin-bottom: 0;
}

.home .home-content {
  max-width: 1080px;
  margin: auto;
}

// .home .wp-block-column:first-child {
//   width: 68%;
// }

@media only screen and (min-width: $screen-sm-min) {
  .ab-block-post-grid .is-list .ab-block-post-grid-title {
    font-size: 28px;
  }
}

/* ==========================================================================
   Posts
   ========================================================================== */

.post .entry-header {
  margin-bottom: 0;
}

/* ==========================================================================
   Columns
   ========================================================================== */

.wp-block-column {
  display: flex;
}

// Make the column full width when the screen is medium size or less
@media only screen and (max-width: $screen-md-min) {
  .wp-block-column {
    width: 100%;
  }

  .wp-block-column:not(:first-child),
  .wp-block-column:nth-child(2n),
  .wp-block-column:not(:last-child) {
    margin-right: 0;
    margin-left: 0;
  }
}

/* ==========================================================================
   Cards (Stackable)
   ========================================================================== */

.ugb-card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  cursor: pointer;
  border: 1px solid $light-gray;
  margin-top: 0;
  transition: box-shadow 0.3s ease;

  .ugb-button {
    margin: 10px 15px;
    width: 100%;
    text-align: center;
    border-color: $orange;
    background-color: $white;
    transition: border-color 0.3s ease;

    .ugb-button--inner {
      color: $orange;
      transition: color 0.3s ease;
    }
  }

  &:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, .16);

    .ugb-button {
      opacity: 1;
      border-color: darken($orange, 10%);

      .ugb-button--inner {
        opacity: 1;
        color: darken($orange, 10%);
      }
    }
  }

  &__title,
  &__description {
    margin: 0 15px;
  }

  &__description {
    flex-grow: 1;
  }
}

/* ==========================================================================
   Give pages
   ========================================================================== */

.page .entry-content .give-form-wrap > h2 {
  display: none;
}

#page {
  padding-top: 2% !important;
}

.container {
  padding: 0 3% !important;
}

[id*=give-form] .give-recurring-donors-choice-period {
  font-size: unset !important;
}

[id*=give-form] .give-recurring-donors-choice label {
  font-size: unset !important;
}
